<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">About Me</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- python -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-python"></i>
                </div>
            </div>
        </div>
        <!-- linux -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-shell"></i>
                </div>
            </div>
        </div>
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.head_img | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.last_name }}</span> {{ site.author.first_name }}</h4>
                <ul class="list-inline social-icon">
                    <li><a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/{{ site.author.facebook_username }}" target="blank"><i class="fa fa-facebook"></i></a>
                    <li><a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a>
                    </li>
                    </li>
                    <li><a href="{{ site.url}}/feed.xml" target="blank"><i class="fa fa-rss"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- html -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-angular"></i>
                </div>
            </div>
        </div>
        <!-- docker -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-docker"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
        </div>
    </div>
</div>
