<div class="container" id="i18_education">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="education.my_education">My Education</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for career in site.data.index.educations %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg wow rotateIn">
                        <i class="fa {{ education.icon }}"></i>
                    </div>
                    <div class="vertical-timeline-content wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        <h2><span data-i18n="education.{{ education.name.i18n }}">{{ education.name.detail }}</span></h2>
                        <p><span data-i18n="education.{{ education.desc.i18n }}">{{ education.desc.detail }} </span></p>
                        <span class="vertical-date"><span data-i18n="education.{{ education.date.i18n }}"> {{ education.date.detail }} </span>
                        <br/> <small><span data-i18n="education.{{ education.job.i18n }}">{{ education.job.detail }}</span></small> </span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
