<div class="container-fluid">
  <div id="inSlider" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#inSlider" data-slide-to="0" class="active"></li>
      {% for banner in site.data.index.banners offset:1 %}
        <li data-target="#inSlider" data-slide-to="{{ forloop.index }}"></li>
      {% endfor %}
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <div class="carousel-caption"></div>
        <img src="{{ '/static/assets/img/' | prepend: site.baseurl }}{{ site.data.index.banners[0].src }}" alt="{{ site.data.index.banners[0].title }}" style="width:100%;">
      </div>

      {% for banner in site.data.index.banners offset:1 %}
      <div class="item">
        <div class="carousel-caption"></div>
        <img src="{{ '/static/assets/img/'  | prepend: site.baseurl }}{{ banner.src }}" alt="{{ banner.title }}" style="width:100%;">
      </div>
      {% endfor %}
      
    </div>
    

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#inSlider" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
