<div class="text-center">
<button class="btn btn-warning  dim btn-large-dim btn-outline" type="button" data-toggle="modal" data-target="#myModal2"><i class="fa fa-smile-o"></i></button>
</div>
<div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Donate Me</h4>
                <small class="font-bold">If you like this article and want to help me, please give me little fee.</small><br>
                <small class="font-bold">Thanks for your support!</small>
            </div>
            <div class="modal-body text-center">
                <img src="{{ site.donate.wechat1 | prepend: site.baseurl}}" width="250">
                &emsp;
                <img src="{{ site.donate.wechat5 | prepend: site.baseurl}}" width="250">
            </div>
        </div>
    </div>
</div>
