---
layout: blog
title: Donate
permalink: /donate/
---
    <link href="/static/css/slick.css" rel="stylesheet">
    <link href="/static/css/slick-theme.css" rel="stylesheet">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="navy-line"></div>
        <h1>Donate Jalpc</h1>
        <h3>If you like this theme and want to support it, just donate it. We can make Jalpc better!</h3>
    </div>
</div>

<div class="wrapper wrapper-content animated pulse">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2 class="text-center m">Alipay</h2>
            <div class="slick">
                {% for alipay in site.data.alipay %}
                <div>
                    <div class="ibox-content">
                        <img src="{{ alipay.name | prepend: '/static/img/donate/' }}" width="100%">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2 class="text-center m">WeChat Pay</h2>
            <div class="slick">
                {% for wechat in site.data.wechat_pay %}
                <div>
                    <div class="ibox-content">
                        <img src="{{ wechat.name | prepend: '/static/img/donate/' }}" width="100%">
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        {% for donation in site.data.donation %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        <div class="col-sm-4 {% if loopindex == 1 %}col-sm-offset-2{% endif %}">
            <div class="contact-box">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="{{ donation.avatar | prepend: '/static/img/donation/'}}">
                        <div class="m-t-xs font-bold">{{ donation.name }}</div>
                        <p><i class="fa fa-{{ donation.type }}"></i> {{ donation.value }}</p>
                    </div>
                </div>
                <div class="col-sm-8">
                    <p><i class="fa fa-user"></i> {{ donation.account }}</p>
                    {% if donation.location %}
                    <p><i class="fa fa-map-marker"></i> {{ donation.location }}</p>
                    {% endif %}
                    {% if donation.website %}
                    <p><i class="fa fa-globe"></i> <a target="blank" href="{{ donation.website }}">Website</a></p>
                    {% endif %}
                    {% if donation.github %}
                    <p><i class="fa fa-github"></i> <a class="github_username" target="blank" href="{{ donation.github | prepend: 'https://github.com/' }}">{{ donation.github }}</a></p>
                    {% endif %}
                    <p><i class="fa fa-calendar"></i> {{ donation.date | date: "%-d %b %Y" }}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- slick carousel-->
<script src="/static/js/slick.min.js"></script>

<style>
    .slick .ibox-content {
        margin: 0 10px;
    }
</style>

<script>
    $(document).ready(function(){
        $('.slick').slick({
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 1,
            centerMode: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    });
</script>
