---
layout: blog
title: Linux
permalink: /linux/
---

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Linux</h1>
    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight blog">
    <div class="row">
		<ul id="pag-itemContainer" style="list-style:none;">
    {% assign counter = 0 %}
		{% for post in site.categories['Linux'] %}
		{% assign counter = counter | plus: 1 %}
		<li>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="ibox">
                <div class="ibox-content">
                    <a href="{{ post.url }}" class="btn-link">
                        <h2>
                            {{ post.title }}
                        </h2>
                    </a>
                    <div class="small m-b-xs">
                        <strong>{{ site.author.name }}</strong> <span class="text-muted"><i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %b %Y" }}</span>
                    </div>
                    <p>
                    	{{ post.content | strip_html | truncate:100 }}
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                                <h5 style="display: inline;">Tags:</h5>
                                {% for tag in post.tags %}
                                    <button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
                                {% endfor %}
                        </div>
                        <div class="col-md-6">
                            <div class="small text-right">
                                <h5>Stats:</h5>
                                <div> 
                                {% if site.changyan %}
                                    <i class="fa fa-comments-o"> </i> <span id = "url::{{post.url | prepend: site.url}}" class = "cy_cmt_count" ></span> comments
                                {% endif %}
                                {% if site.disqus %}
                                <i class="fa fa-comments-o"> </i> <span class='disqus-comment-count' data-disqus-url="{{ site.url }}{{ post.url }}">0</span> comments
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </li>
        {% endfor %}
        </ul>
        {% include pagination.html %}

    </div>
</div>